name: Build and Test

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - "master"
    tags-ignore:
      - "**"

jobs:
  build:
    name: Build Components
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: yarn install
      - run: yarn build
      - run: yarn test
      - run: yarn lint
